* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  background-color: #998f8f; }
  header .btn {
    background-color: whitesmoke;
    width: 70px;
    height: 40px;
    background-size: 28px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0; }
  header .non-active {
    background-color: #b1b1b1;
    outline: 0;
    box-shadow: none;
    border: none; }
    header .non-active:focus {
      outline: 0;
      box-shadow: none;
      border: none; }
  header .btn.active {
    background-color: whitesmoke; }
    header .btn.active:hover {
      background-color: #6c757d; }

#admin {
  background-image: url("../img/programming-code-signs.svg"); }

#bold {
  background-image: url("../img/Bold.webp"); }

#italic {
  background-image: url("../img/Italic.png");
  background-size: 18px; }

#underLine {
  background-image: url("../img/underlined-text.svg");
  background-size: 18px; }

#crossedOut {
  background-image: url("../img/line-through.png");
  background-size: 20px; }

#textAlignLeft {
  background-image: url("../img/text_Align_Left.png");
  background-size: 22px; }

#textAlignCenter {
  background-image: url("../img/text_Center.png");
  background-size: 22px; }

#textAlignRight {
  background-image: url("../img/text_Align_right.webp");
  background-size: 22px; }

#color_button {
  background-image: url("../img/palette.png");
  background-size: 18px; }
  #color_button:focus {
    background-color: whitesmoke;
    border: 1px solid #6c757d; }

#background-color_button {
  background-image: url("../img/image-icon.webp");
  background-size: 18px;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem; }
  #background-color_button:focus {
    background-color: whitesmoke;
    border: 1px solid #6c757d; }

#lock {
  background-image: url("../img/locked-lock.png");
  background-size: 20px;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem; }

main {
  height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  main .wrapper {
    padding: 30px; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.underLine {
  text-decoration: underline; }

.crossedOut {
  text-decoration: line-through; }

.textAlignLeft {
  text-align: left; }

.textAlignCenter {
  text-align: center; }

.textAlignRight {
  text-align: right; }

#fontFamily_button, #fontSize_button {
  color: black;
  font-weight: 500;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 20px; }
  #fontFamily_button:focus, #fontSize_button:focus {
    background-color: whitesmoke; }

#modal-body {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px; }
  #modal-body div {
    height: 100px;
    width: 100px;
    border-radius: 5px; }

#nav-home div {
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 5px;
  margin: 2px; }

.tab-content {
  padding-top: 15px; }

.nav-link {
  color: blue; }

#nav-profile > div {
  display: inline-block;
  width: 200px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  margin: 5px 25px; }

#one {
  background-image: url("../img/one.jpg"); }

#two {
  background-image: url("../img/two.jpg"); }

#three {
  background-image: url("../img/three.jpg"); }

#four {
  background-image: url("../img/four.jpg"); }

#five {
  background-image: url("../img/five.jpg"); }

#six {
  background-image: url("../img/six.jpg"); }

#seven {
  background-image: url("../img/seven.jpg"); }

#eight {
  background-image: url("../img/eight.jpg"); }

#nine {
  background-image: url("../img/nine.jpg"); }

#basic-addon2 {
  right: 0;
  z-index: 3;
  position: absolute;
  width: 200px;
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  cursor: pointer; }
  #basic-addon2 span {
    height: 100%;
    background-color: #6c757d;
    position: absolute;
    right: 0;
    padding: 10px 15px;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    color: white; }

#disabledTextInput {
  position: relative;
  border-radius: 0.3rem;
  z-index: 2;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  background-color: white; }

#file-input {
  position: absolute;
  opacity: 0;
  z-index: 3;
  width: 100%;
  height: 50px;
  background-color: white; }

#Sign-in {
  width: 100%;
  background-color: #5c636a;
  margin-top: 20px; }

.form-control.is-invalid {
  background-image: none; }

#Modal1Label {
  margin: auto;
  font-weight: bold; }

.admin {
  display: none; }
  .admin #save {
    background-image: url("../img/save.png");
    background-size: 17px; }
  .admin #table {
    background-image: url("../img/table.png");
    background-size: 20px; }
  .admin #orderedList {
    background-image: url("../img/order list.png");
    background-size: 20px; }
  .admin #unorderedList {
    background-image: url("../img/unorder list.png");
    background-size: 27px; }

textarea {
  width: 100%;
  height: 100%;
  padding: 30px;
  outline: none;
  border: none; }

.createTable {
  display: flex;
  justify-content: space-around;
  font-weight: 400; }
  .createTable .createTable__left {
    width: 48%; }
    .createTable .createTable__left button {
      width: 100%;
      color: white;
      background-color: #dc3545; }
  .createTable .createTable__right {
    width: 48%; }
    .createTable .createTable__right button {
      width: 100%;
      color: white;
      background-color: #419c71; }
  .createTable .row {
    margin-top: 0; }

#createOL,
#createUL {
  font-weight: 400; }

.OLButtons,
.ULButtons {
  padding: 1rem;
  display: flex;
  justify-content: space-between; }
  .OLButtons button:first-child,
  .ULButtons button:first-child {
    width: 48%;
    color: white;
    background-color: #dc3545; }
  .OLButtons button:not(:first-child),
  .ULButtons button:not(:first-child) {
    width: 48%;
    color: white;
    background-color: #419c71; }

.invalid-feedback {
  height: 30px; }

.logged-in {
  margin: 0 auto;
  width: 350px;
  display: none; }

.sign-outButtons {
  width: 350px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .sign-outButtons #cancel {
    background-color: #3c3e3f;
    height: 40px;
    width: 42%; }
  .sign-outButtons #sign-out {
    background-color: #dc3545;
    height: 42px;
    width: 40%; }

/*# sourceMappingURL=main.css.map */
