@font-face {
  font-family: "clock";
  src: url("../fonts/digital-7.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "clock";
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
body > div {
  height: 30%;
  width: 100%;
  background-color: #000f29c5;
  border: 2px solid #3b62a5;
  color: #3b62a5;
}
.top {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
.data {
  height: 30%;
  font-size: 55px;
  padding-top: 20px;
}
.time {
  padding-top: 20px;
  font-size: 125px;
  height: 70%;
}
.mid {
  display: flex;
}
.display {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}
.timer-count {
  font-size: 70px;
  display: flex;
  justify-content: start;
  width: 350px;
  margin: 0 auto;
}
button {
  padding: 5px 15px;
  background-color: #000f29c5;
  border: 2px solid #3b62a5;
  color: #3b62a5;
  border-radius: 5px;
  box-shadow: 0 0 5px #3b62a5;
}
button:focus {
  outline: none;
  border: 2px solid #0a1136;
}
.board {
  padding: 20px 170px;
  height: 100%;
  width: 50%;
}
.board > div {
  height: 100%;
  background-color: #000714e1;
  border: 2px solid #3b62a5;
  font-size: 30px;
}
p {
  text-align: center;
}
.bot {
  display: flex;
}
.bot-left,
.bot-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.set-time {
  font-size: 100px;
}
.heading {
  font-size: 40px;
}
.plus,
.minus {
  padding: 0 10px;
  font-size: 30px;
}
.bot-display {
  display: flex;
  justify-content: center;
  font-size: 100px;
}
