* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75%;
  margin-top: 10px;
  position: relative;
}
input {
  width: 450px;
  height: 50px;
  outline: none;
  border: 2px solid rgb(172, 175, 187);
  border-radius: 5px;
  box-shadow: 0 0 3px rgb(172, 175, 187);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px 12px;
  /* background: url("../img/Tick_Mark_icon-icons.com_69146.png"); */
  /* background-image: url('../img/Close_Icon_icon-icons.com_69144.png'); */
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 400px 9px;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 5px;
}
input:focus {
  border: 2px solid #89bff8;
  box-shadow: 0 0 8px #408ee0;
}
#button {
  color: white;
  background-color: #1b75be;
  box-shadow: none;
  border: none;
  font-family: cursive;
  padding: 0;
}
label {
  padding-left: 15px;
  height: 0px;
  transform: translateY(-35px);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  pointer-events: none;
  transition: 0.5s;
  color: rgb(150, 150, 150);
}
input:focus + label,
input:valid + label {
  font-size: 12px;
  transform: translateY(-45px);
}
div {
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e44061;
  border-radius: 5px;
  width: max-content;
  color: white;
  visibility: hidden;
  margin: 1px;
}
